<%- include('partials/header.ejs')  %> 

<h1>Page 404</h1>

<img class="error-img" src="https://media2.giphy.com/media/aYpmlCXgX9dc09dbpl/giphy.gif?cid=ecf05e473wd328vnx0zix7doftj9qvro8pgjob56e1axrdc2&rid=giphy.gif&ct=g" alt="404 error">

<a href="/">Retour à l'accueil</a>

<%- include('partials/footer.ejs')  %> 