<%- include('partials/header.ejs')  %> 

  <main>
    <h3>Index</h3>
  </main>

  <form method="POST" action="/login">
    <div>
      <label for="login">Login :</label>
      <input id="login" type="text" name="login">
    </div>

    <div>
      <label for="pwd">Mot de passe :</label>
      <input id="pwd" type="password" name="password">
    </div>

    <div>
      <button type="submit">Se connecter</button>
    </div>
  </form>


<%- include('partials/footer.ejs')  %> 